@model Autobiography.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword", null, new {@class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            
        </dd>
        <br />
        @if (User.Identity.Name.Equals("admin@admin.com"))
        {
            <dt>Pending Comments:</dt>
            <dd>
                <p>
                    @Html.ActionLink("See pending comments", "PendingComments", null, new { @class = "btn btn-default" })
                </p>
            </dd>
        }        
    </dl>
</div>
