@model IEnumerable<Autobiography.Models.ProjectsViewModel>
@*@model Autobiography.Models.ProjectsViewModel*@

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@foreach (var item in Model)
{
    @Html.DisplayFor(model => item.Project.Title);
    break;
}</h2>

@*<script>

    function com() {
        alert("opa");
        var newComment = $('#txtComment').val();
        alert(newComment);
        var projId = "1";
        alert(projId);
        $.ajax({
            url: '/Projects/AddComments',
            contentType: 'application/html; charset=utf-8',
            data: { id: projId, newComment: newComment },
            type: 'GET',
            dataType: 'html'

        })
            .success(function (result) {
                $('#comments').html(result);
                alert(status);
                parent.document.getElementById("txtComment").value = "";
            })
            .error(function (xhr, status) {
                alert(status);
            })
    };
</script>*@

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Project.Type)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Project.Type)*@


            @foreach (var item in Model)
            {
                @Html.DisplayFor(model => item.Project.Type);
                break;
            }
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Project.Website)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Project.Website)*@

            
            @foreach (var item in Model)
            {
                @Html.DisplayFor(model => item.Project.Website);
                break;
            }

        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Project.GitHub)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Project.GitHub)*@

            @foreach (var item in Model)
            {
                @Html.DisplayFor(model => item.Project.GitHub);
                break;
            }

        </dd>
        <br />
        <dt>
            Comments
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Comments.CommentContent)*@
            @*@foreach (var item in Model)
                {
                    @Html.DisplayFor(model => item.Comments.CommentContent)
                }*@
            <div id="comments">


                <table>
                    <br />
                    <tr style="border-bottom: 1px solid #ccc">
                        <th>Comment</th>
                        <td>
                            <p></p>
                        </td>
                        <th>Submitted by</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Comments.CommentContent
                            </td>
                            <td>
                                <p>&nbsp; &nbsp; &nbsp;</p>
                            </td>
                            <td>
                                @item.Comments.SubmittedBy
                            </td>
                        </tr>
                    }
                </table>

            </div>

            <div id="addComment">
                <hr />
                @using (Html.BeginForm("Details", "Projects",FormMethod.Post)) {
                
                <table>
                    <tr>
                        <td>
                            <textarea id="txtComment" name="txtComment" rows="4" cols="50"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @*<input id="btnAddComment" name="btnAddComment" type="button" value="Add" class="btn btn-default" onclick="location.href='@Url.Action("AddComments", "Projects", new {id= Url.RequestContext.RouteData.Values["id"], newComment = ":)"})'"/>*@
                            <input type="submit" value="Add" class="btn btn-default"/>
                        </td>
                    </tr>
                </table>

                }
            </div>

        </dd>

        <br />
    </dl>
</div>