@model IEnumerable<Autobiography.Models.ProjectsViewModel>
@*@model Autobiography.Models.ProjectsViewModel*@

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@Html.DisplayFor(model => model.Project.Title)</h2>*@

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Project.Type)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Project.Type)*@ 
            

           @foreach (var item in Model) {
               @Html.DisplayFor(model => item.Project.Type)
           }
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Project.Website)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Project.Website)*@


            @foreach (var item in Model)
            {
                @Html.DisplayFor(model => item.Project.Website)
            }

        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Project.GitHub)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Project.GitHub)*@

            @foreach (var item in Model)
            {
                @Html.DisplayFor(model => item.Project.GitHub)
            }

        </dd>
        <br />
        <dt>
           Comments
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Comments.CommentContent)*@ 
            @*@foreach (var item in Model)
            {
                @Html.DisplayFor(model => item.Comments.CommentContent)
            }*@
            <table>
                <br />
                    <tr style="border-bottom: 1px solid #ccc">
                        <th>Comment</th>
                        <td>
                            <p></p>
                        </td>
                        <th>Submitted by</th>
                    </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.Comments.CommentContent
                    </td>
                    <td>
                        <p>&nbsp; &nbsp; &nbsp;</p>
                    </td>
                    <td>
                        @item.Comments.SubmittedBy
                    </td>
                </tr>
                }
            </table>

        </dd>

        <br />
    </dl>
</div>