@model IEnumerable<Autobiography.Models.ProjectsViewModel>
@*@model Autobiography.Models.ProjectsViewModel*@

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@foreach (var item in Model)
{
    @Html.DisplayFor(model => item.Project.Title);
    break;
}</h2>
<br />
@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Project.Type)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Project.Type)*@

            @foreach (var item in Model)
            {
                @Html.DisplayFor(model => item.Project.Type);
                
                break;
            }
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Project.Website)
        </dt>

        <dd>
            
            @foreach (var item in Model)
            {
                @Html.DisplayFor(model => item.Project.Website);
                break;
            }

        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Project.GitHub)
        </dt>

        <dd>

            @foreach (var item in Model)
            {
                @Html.DisplayFor(model => item.Project.GitHub);
                break;
            }

        </dd>
        <br />
        <dt>
            Comments
        </dt>

        <dd>
            <div id="comments">


                <table>
                    <br />
                    <tr style="border-bottom: 1px solid #ccc">
                        <th>Comment</th>
                        <td>
                            <p></p>
                        </td>
                        <th>Submitted by</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Comments.CommentContent
                            </td>
                            <td>
                                <p>&nbsp; &nbsp; &nbsp;</p>
                            </td>
                            <td>
                                @item.Comments.SubmittedBy
                            </td>
                        </tr>
                    }
                </table>

            </div>

            @*@if (Request.Cookies["Cookie"] == null)
            {*@
                <div id="addComment">
                    <hr />
                    @using (Html.BeginForm("Details", "Projects", FormMethod.Post))
                    {

                    <table>
                        <tr>
                            <td>
                                <textarea id="txtComment" name="txtComment" rows="4" cols="50"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="Add" class="btn btn-default"/>
                            </td>
                        </tr>
                    </table>

                    }
                </div>
              @* }
            else {
                @Request.Cookies["Cookie"].Value;
            }*@


        </dd>

        <br />
    </dl>
</div>