@model IEnumerable<Autobiography.Models.Projects>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-success">
    <h2><u>Projects</u></h2>
</div>
<br />

<table style="display:table; width:100%">
    <tr style="border-bottom: 1px solid #ccc">
        <td>
            <h4> <strong>  @Html.DisplayNameFor(model => model.Title) </strong> </h4>
        </td>
        <td>
            <h4>  <strong> @Html.DisplayNameFor(model => model.Type) </strong></h4>
        </td>
        <td>
            <h4>  <strong> @Html.DisplayNameFor(model => model.Website) </strong> </h4>
        </td>
        <td>
            <h4>  <strong> @Html.DisplayNameFor(model => model.GitHub) </strong> </h4>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <p></p>
        </td>
    </tr>
    <tr>
        <td>
            <p></p>
        </td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            <a href="@Html.DisplayFor(modelItem => item.Website)">   @Html.DisplayFor(modelItem => item.Website) </a>
        </td>
        <td>
            <a href="@Html.DisplayFor(modelItem => item.GitHub)"> @Html.DisplayFor(modelItem => item.GitHub) </a>
        </td>
        <td>
            <p><a class="btn btn-default" href="@Url.Action("Details", "Projects", new {id=item.ID })" >Details</a></p>
        </td>
    </tr>
    <tr>
        <td>
            <p></p>
        </td>
    </tr>
    <tr>
        <td>
            <p></p>
        </td>
    </tr>
}

</table>
